:root {
  --main-yellow-color: rgba(244, 231, 94, 0.9);
  --main-box-shadow: #030712 0px 13px 27px -5px, #fde047 1px 8px 16px -8px;
  --main-border-radius: 0.4rem;
  --main-dark-color: #020617;
  --light-color-1: #fffbeb;
  --light-color-2: #d1d5db;
  --light-color-3: #f8fafc;
  --transparent-dark: rgba(0, 0, 0, 0.75);
  --border-color-1: #94a3b8;
  --border-color-2: #cbd5e1;
  --box-shadow-color-1: #9ca3af;
}

@font-face {
  font-family: 'QS';
  src: url('./assets//Quicksand-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'QS';
  background-color: var(--light-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#app-name {
  height: 50px;
  width: 100vw;
  background-color: var(--light-color-3);
  box-shadow: 0 1px 3px 1px var(--box-shadow-color-1);
  border-width: 3px;
  border-bottom-color: var(--border-color-1);
  border-bottom-style: thin;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  z-index: 2;
}

#app-name > img {
  margin-left: 30px;
  width: 35px;
  height: 35px;
}

#resume-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-color-3);
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  gap: 100px;
}

#resume-content {
  margin-top: 10px;
  margin-right: 50px;
  height: 110%;
  width: 700px;
  display: flex;
  box-shadow: var(--main-box-shadow);
  color: var(--main-dark-color);
  margin-bottom: 20px;
}

#rc-sidebar {
  height: 100%;
  width: 30%;
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-color-1);
}

#contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.7rem;
  height: 30%;
}

ul {
  padding: 15px;
}
ul > li {
  list-style: none;
  word-wrap: break-word;
}

li > img {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}

#education {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

#edu-section-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

[data-edu-degree-name],
[data-edu-institute-name],
[data-edu-years-of-study] {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

[data-edu-degree-name] {
  margin-top: 9px;
}

#rc-main {
  height: 100%;
  width: 70%;
  background-color: var(--light-color-1);
}

#title {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#title-full-name {
  font-size: 1.7rem;
  font-weight: bold;
}

#title-position {
  font-size: 1rem;
  font-style: italic;
}

#experience-container {
  margin-top: 40px;
  margin-left: 20px;
  width: 90%;
  height: 80%;
}

.divider {
  width: 85%;
  height: 3px;
  background-color: var(--main-yellow-color);
  margin-top: 5px;
  margin-bottom: 15px;
}

#exp-section-title {
  font-size: 1.2rem;
  font-weight: bold;
}

[data-exp-position] {
  font-weight: bold;
  font-size: 1.1rem;
}

[data-exp] {
  margin-left: 10px;
  margin-top: 15px;
  width: 85%;
}

[data-exp-desc],
[data-exp-company] {
  font-size: 0.9rem;
}

[data-exp-date] {
  font-size: 0.8rem;
}

[data-exp-desc] {
  margin-top: 10px;
}

[data-exp-position-date] {
  display: flex;
  justify-content: space-between;
}

#experience-content {
  display: flex;
  flex-direction: column;
}

#resume-form-container {
  width: 35%;
  height: 120%;
  box-shadow: 3px 0 7px var(--box-shadow-color-1);
  border-right-width: 4px;
  border-right-color: var(--border-color-1);
  border-right-style: thin;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

[data-form] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

[data-form='experience-form'] {
  margin-bottom: 40px;
}

[data-form] > * {
  /* background-color: #d4d4d8; */
}

[data-fieldset] {
  width: 80%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border-radius: var(--main-border-radius);
  border-width: thin;
  border-color: var(--border-color-2);
}

[data-form] legend {
  font-weight: bold;
  padding: 10px;
}

[data-form] legend ~ * {
  font-size: 0.9rem;
}

[data-form] input {
  margin-bottom: 5px;
  height: 28px;
  border-radius: var(--main-border-radius);
  border-width: thin;
  border-color: var(--border-color-2);
}

[data-form] input:focus {
  outline: none;
}

textarea {
  resize: none;
  border-radius: var(--main-border-radius);
  border-width: thin;
}
